<div class="w-screen text-white">
  <div class="flex flex-col justify-center items-center">
    <!--Detalles de la carta-->
    @if (cardDetail) {
    <div class="bg-gray-700 mt-4 p-4 border border-gray-300 rounded-xl w-11/12 shadow-md  shadow-slate-300">
    <h2 class="text-lg font-bold mb-2 text-center">Detalles de <strong>{{ cardDetail.name }}</strong></h2>
    <div class="flex flex-row justify-evenly items-center">
      <div>
        <img class="mb-4" [src]="cardDetail.iconUrls.medium" alt="{{ cardDetail.name }}" width="200"/>
      </div>
        <ul class="list-disc">
          <li><strong>Nombre:</strong> {{ cardDetail.name }}</li>
          <li><strong>Nivel Máximo:</strong> {{ cardDetail.maxLevel }}</li>
          <li><strong>Coste de Elixir:</strong> {{ cardDetail.elixirCost }}</li>
          <li><strong>Rareza:</strong> {{ cardDetail.rarity }}</li>
        </ul>
      </div>
      <div class="flex justify-center mt-4">
        <button class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-700" (click)="closeDetails()">
          Cerrar Detalles
        </button>
      </div>
    </div>
    }
  </div>
  <!-- Botón para cambiar entre formato de lista y cuadrícula -->
  <div class="flex justify-center items-center mb-6 mt-6">
    <label class="inline-flex items-center cursor-pointer">
      <input (click)="toggleView()" type="checkbox" value="" class="sr-only peer">
      <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-200">Cambiar vista</span>
    </label>
  </div>

  <!-- Contenedor de la lista o cuadrícula -->
  @if (isGridView) {
  <div class="grid grid-cols-4 gap-8 w-full">
    <!-- Vista de cuadrícula -->
    @for (item of listaCartas; track $index) {
    <div class="max-w-sm flex justify-center flex-col items-center ">
      <a href="#">
        <img [src]="item.iconUrls.medium" alt="{{ item.name }}" width="200"/>
      </a>
      <div class="p-5">
        <a href="#" (click)="showCardDetail(item)">
          <h1 class="mb-4 text-center text-xl text-white">{{ item.name }}</h1>
        </a>
        <a (click)="showCardDetail(item)" href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Mas información
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
    }
  </div>
  } @else {
  <!-- Vista de lista -->
  <div class="flex justify-center items-center">
    <ul class="list-none w-5/6">
      @for (item of listaCartas; track $index) {
        <li class="bg-gray-700 shadow-md shadow-slate-300 mb-4 flex flex-row justify-evenly items-center w-5/6 border border-gray-300 rounded" (click)="showCardDetail(listaCartas)">
          <a href="#">
            <img [src]="item.iconUrls.medium" alt="{{ item.name }}" width="120"/>
          </a>
          <a href="#" (click)="showCardDetail(item)">
              <h1 class="text-center text-xl text-white">{{ item.name }}</h1>
          </a>
          <a (click)="showCardDetail(item)" href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Mas información
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
      }
    </ul>
  </div>
  }

</div>